@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #121214;
    --foreground: #202024;
    --primary: #00875F;
    --secondary: #00B37E;

    --radius: 0.5rem;
  }

  .light {
    --background: 222.2 84% 4.9%;
  }
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply text-white antialiased;
  }
}