* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #111;
}

.form-container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.sub-container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}

.text {
    color: azure;
}